root{
    --main-bg-color: lightblue;
}

*{
    font-size: large;
    font-weight: bold;
}
html{
    background-color: var(--main-bg-color);
}

div.container{
    top: 50%;
    left: 50%;
    /*
    border: 5x solid red;
    */
}

p{
    padding: 0;
    margin: 0;
}

#address {
    display: block;
}

label{
    display: inline;
}

ul, li{
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-content: left;
}
/*
.service_item{
    list-style-type: none;
    line-height: 1.5em;
    border: 2px solid black;
    float: left;
    display: inline;
    width: 50%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
*/

table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    width: 100%;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
}

tr{
    display: table-row;
}

td {
    display: table-cell;
    padding: 3px;
    vertical-align: top;
    border-bottom: 1px solid darkgray;
    /*
    background: #fff;
    */
}

li{
    list-style-type: none;
}

div.line_items table{
    width: 100%;
    line-height: 1.5em;
    text-align: left;
}

.float_right{
    float: right;
}

.p_line_item{
    border-bottom: 1px solid gray;
}

/*
div#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    max-width: 70vw;
    overflow-x: hidden;
    overflow-y: visible;
}
*/

@media only screen and (max-width: 500px){

}


@media print {
    @page{
        size:a4 portrait; 
    }
    *{
        float:none;
    }
  
    div#content{ 
        max-width: 100%;
        overflow: visible;
    }

    p#return_policy{
        font-size: small;
    }

}