root{
    --main-bg-color: lightblue;
}

*{
    font-size: large;
    font-weight: bold;
}
html{
    background-color: var(--main-bg-color);
}

div.container{
    top: 50%;
    left: 50%;
    border: 10px solid red;
}

p{
    padding: 0;
    margin: 0;
}
#address {
    display: block;
}

label{
    display: inline;
}

ul, li{
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-content: left;
}
/*
.service_item{
    list-style-type: none;
    line-height: 1.5em;
    border: 2px solid black;
    float: left;
    display: inline;
    width: 50%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
*/

table{
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    width: 100%;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
}

tr{
    display: table-row;
}

td {
    display: table-cell;
    padding: 2px;
    vertical-align: top;
    border-bottom: 1px solid darkgray;
    background: #fff;
}

li{
    list-style-type: none;
}

div.line_items table{
    width: 100%;
    line-height: 1.5em;
    text-align: left;
}

div#content{
    /*
    top: 50%;
    left: 50%;
    */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    max-width: 70vw;
    overflow: hidden;
    outline: auto;
}

@media print {
    @page{
        size:a4 portrait; 
    }
}
/* Setting for print
https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/
*/
/*
source: https://stackoverflow.com/questions/16649943/css-to-set-a4-paper-size
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
  }
  
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
  }
  */